frost-sta-client@git+https://github.com/securedimensions/STA-Python-Client@master#egg=frost_sta_client
oauth2-client@git+https://github.com/securedimensions/OAuth2Client.git
jsonpickle
demjson3
requests
furl
geojson
jsonpatch
python-dateutil
numpy
